asgiref==3.4.1
boto3==1.18.65
botocore==1.21.65
Django==3.2.4
django-cors-headers==3.7.0
django-storages==1.11.1
djangorestframework==3.12.4
dnspython==2.1.0
email-validator==1.1.3
idna==3.2
Inject==4.3.1
jmespath==0.10.0
psycopg2-binary==2.9.1
pydantic==1.8.2
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz==2021.1
s3transfer==0.5.0
six==1.16.0
sqlparse==0.4.2
typing-extensions==3.10.0.2
urllib3==1.26.7

pika~=1.2.0
