.userListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  width: 300px;
}

.userItem {
  width: 300px;
  padding: 10px;
  border-bottom: 1px solid grey;
  display: flex;
}

.imgUser {
  max-width: 50px;
  margin-right: 10px;
}

.mainInfoWrapper {
}

.nameRoleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.name {
  font-weight: 500;
  font-size: 1.17em;
}

.role {
  font-size: 0.8em;
}

.status {
  font-size: 0.9em;
}

.online {
  color: rgb(94, 179, 212);
}
