h1{
    text-align: center;
}
h3, p{
    margin: 0;
    padding: 5px;
    z-index: 10;
}
.allTables{
    width: 100%;
    position: relative;
}
.OneTable{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: calc(100% - 10px);
    max-width: 100%;
}
.row{
    flex:1;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}
.row:hover{
    background-color: rgba(95, 158, 160, 0.329);
}
.dayP{
    width: calc(12.5% - 10px);
    word-wrap: break-word;
    display: inline-block;
    outline: 1px solid rgba(123, 179, 131, 0.5);
    margin: 0;
}
.frsInRow, .tmpP{
    word-wrap: break-word;
    display: inline-block;
    outline: 1px solid rgba(123, 179, 131, 0.5);
    margin: 0;
}
.frsInRow{
    width: 10vw;
}
.tmpP{
    width: 12.5%;
}

.sbjName{
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black
}

.description, .teacherName{
    padding: 5px;
    position: relative;
}

.teacherFullName, .pairDesk{
    display: none;
}

.description:hover>.pairDesk, .teacherName:hover>.teacherFullName{
    position:absolute;
    top:0;
    left: 0;
    background-color: blanchedalmond;
    display:block;
    z-index: 100;
    width: max-content;
    max-width: 100%;
}
.curentWeek{
    background-color: rgba(102, 102, 160, 0.692);
}
.nextPair{
    background-color: rgba(199, 193, 106, 0.692);
}